
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Main Page</title>
    <link rel="shortcut icon" href="./img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="./static/styles.css">
</head>

<body>
<header>
        <div class="container">
                <img src="./img/attached_logo.png" alt="logo" style="height: 50px;">
            <nav>
                <ul>
                    <li><a href="./home.html">Home</a></li>
                    <li><a href="./Questions.html">Questionnaire</a></li>
                    <li><a href="./treatment.html">Treatment</a></li>
                    <li><a href="#"id="communityChatBtn">Commuity Chat</a></li>
                    <li><a href="./blogs.html">Blogs</a></li>
                    <li><a href="./contact.html" id="contact">Contact Us</a></li>
                </ul>
            </nav>
            <div class="buttons">
                <a href="./login.html" class="btn login">Login</a>
                <a href="./signup.html" class="btn signup">Sign Up</a>
            </div>
        </div>
        <script src="./js/popup.js"></script>
    </header>

    <main>
        <section class="hero">
            <h2 >Supporting People with ADHD</h2>
            <p>ADHD Ally provides a supportive community for people with ADHD.
                 Share your story, find resources, and discover you are not alone on your journey.</p>
            
        </section>
        <section class="features">
            <section class="feature-showcase">
                <h2>Explore Our Features</h2>
                <p class="feature-intro">Discover how our unique features can make a difference in your journey. Click on any feature to learn more!</p>
                <div class="feature-container">
                    <!-- Feature 1 -->
                    <div class="feature-card" onclick="window.location.href='Questions.html';">
                        <img src="./img/Man marks completed tasks in a notebook Illustration.jpg" alt="Feature 1">
                        <h3>Feel Like you also have ADHD ?</h3>
                        <p>Dive in to the questionnaire to check yourself </p>
                    </div>
                    <!-- Feature 2 -->
                    <div class="feature-card" onclick="window.location.href='treatment.html';">
                        <img src="./img/HHS’s New Mental Health and Substance Use Disorder….jpg" alt="Feature 2">
                        <h3>Everything Sucks !!</h3>
                        <p>Lets get to peace zone and invest just for ourselves</p>
                    </div>
                    <!-- Feature 3 -->
                    <div class="feature-card" onclick="window.location.href='blogs.html';">
                        <img src="./img/blog.jpg" alt="Feature 3">
                        <h3>You are not the Only One suffering</h3> 
                        <p>Checkout stories of other like minded people</p>
                    </div>
                    <!-- Feature 4 -->
                    <div class="feature-card" onclick="window.location.href='https://chat.whatsapp.com/BmNwwicyUQwLTV85lV1BFs';">
                        <img src="./img/logo.jpg" alt="Feature 4">
                        <h3>Noone understands you ?</h3>
                        <p>Connect with people going through same in Whatsapp chat </p>
                    </div>
                </div>
            </section>
            
        </section>
    </main>

    <footer>
        <div class="footer">
            <div class="footer-content">
                <div class="logo-container">
                    <img src="./img/logo.png" alt="Logo" class="footer-logo"> 
                </div>
                <div class="footer-links">
                    <div class="company">
                        <h4>COMPANY</h4>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Team</a></li>
                           
                        </ul>
                    </div>
                    
                  <div class="partnership">
                        <h4>SERVICES</h4>
                        <ul>
                            <!-- <li><a href="#">Premium</a></li> -->
                          <li><a href="#">Request a Demo</a></li>
                          <li><a href="#">LinkedIn</a></li>
                            <li><a href="#">Discord</a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="partnership">
                        <h4>PARTNERSHIP</h4>
                        <ul>
                            <li><a href="#">Affiliate Program</a></li>
        
                        </ul>
                    </div>
                  <div class="partnership">
                        <h4>CONTACT US</h4>
                        <ul>
                            <li><a href="https://mail.google.com/mail/u/0/#inbox?compose=new">Gmail</a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <ul class="social-icons">
                    <li><a href="#" title="Facebook"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#" title="YouTube"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
            <hr> 
           <div class="terms">
            <ul>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms & Conditions</a></li>
                <!-- <li><a href=""></a></li> -->
            </ul>
            <p>Copyright &copy; 2024 LLC. Provider of Mind Matters. All rights reserved.</p>   
           </div>
        </div>
    </footer>
</body>

</html>